#nol {
	text-align: center;
color: red}
#satu {
	text-align: center;
color: red}
#dua {
	text-align: center;
color: red}
#tiga {
	text-align: center;
color: red}
#empat {
	text-align: center;
color: red}
#lima {
	text-align: center;
color: red}
#enam {
	text-align: center;
color: red}
#tujuh {
	text-align: center;
color: red}
tr {
 color: white;
 background: grey;
 }